@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.titulo {
  color: #022468;
  font-size: 64px;
  font-weight: bold;
  font-family: Arial, sans-serif; 
  white-space: pre-wrap;
  margin-top: 80px;
  margin-left: 100px; 
}

.paragrafo {
  color: black;
  font-size: 20px;  
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 100px; 
}


button {
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.botao1 {
  color: white;
  position: absolute;
  width: 240px;
  height: 70px;
  left: 91px;
  top: 750px;
  background: #022468;
  border-radius: 8px; 
}


.botao2 {
  color: black;
  position: absolute;
  width: 240px;
  height: 70px;
  left: 371px;
  top: 750px;
  background: #ffffff; 
  border: 2px solid #022468; 
  border-radius: 8px; 
}


.image {
  position: absolute;
  width: 800px;
  height: auto;
  left: 950px;
  top: 290px;
}
