/* styles.css */

/* Estilo para o título */
.titulo {
  color: blue;
  font-size: 64px;
  font-weight: bold;
  font-family: Arial, sans-serif; /* Fonte padrão */
  white-space: pre-wrap;
  margin-top: 50px;
  left: 250px;
}

/* Estilo para o parágrafo */
.paragrafo {
  color: black;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

/* Ajustes para os botões */
button {
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Ajustes para o botão 1 */
.botao1 {
  color: white;
  position: absolute;
  width: 240px;
  height: 80px;
  left: 41px;
  top: 550px;
  background: #0B4F81;
  border-radius: 24px;
}

/* Ajustes para o botão 2 */
.botao2 {
  background-color: #cccccc;
  color: black;
  position: absolute;
  width: 240px;
  height: 80px;
  left: 341px;
  top: 550px;
  border-radius: 24px;
}

/* Ajustes para a imagem */
.image {
  position: absolute;
  width: 800px;
  height: auto;
  left: 1100px;
  top: 180px;
}
