.cardnovi {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 40%; 
  max-width: 300px;
  padding: 1.5em;
  margin: 1em auto 0; 
  box-sizing: border-box;
}

.cardnovi img {
  width: 100%;
  height: auto;
  border-radius: 20px; 
}

.cardnovi .novidades-content {
  margin-top: 1em;
}

.cardnovi .novidades-content h3 {
  color: #000000;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2em; 
  margin-bottom: 0.5em; 
}

.cardnovi .novidades-content button {
  display: block; 
  width: auto; 
  background-color: #022468;
  color: #ffffff;
  padding: 0.3em 1em; 
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto; 
}

.cardnovi .novidades-content button:hover {
  background-color: #001d56;
}
