.participantesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #3498db;
    padding: 20px;
    height: 80vh;
    width: 100vw;
    overflow-y: auto;
}

.aluno {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aluno img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.aluno .nomeAluno {
    font-size: 24px; 
    font-weight: bold;
    color: #3498db;
    margin-bottom: 10px; 
}

.aluno .rmAluno {
    font-size: 18px; 
    color: #e74c3c;
    font-weight: bold; 
}
