
footer {
  display: flex; 
  width: 100%;
  background-color: #fafbfb;
  bottom: 0;
  padding: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.footer-section > p {
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}

.footer-section > a {
  font-size: 14px;
  color: #0260f6;
  margin-bottom: 2px;
}

.footerpesquisas {
  align-items: center;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
