footer {
  position: fixed;
  width: 100%;
  background-color: #007bff;
  bottom: 0;
  border-top: solid 1px #007bff;
  padding: 20px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.footer-section > p {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer-section > a {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 2px;
}

.footerpesquisas {
  align-items: center;
  display: flex;
  gap: 40px; 
  flex-wrap: wrap;
}

