.novidades {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding-top: 4em;
  margin-top: 6em;
  text-align: center; /* Alinha o texto centralmente */
}

.novidade-box {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinha os itens centralmente */
  padding: 2em;
}

.novidades h2 {
  color: #04338f;
  font-family: 'DM Sans', sans-serif;
  font-size: 2em;
  font-weight: 700;
}

@media (max-width: 962px) {
  .novidade-box {
    flex-wrap: wrap;
  }

  .novidades h2 {
    font-size: 1.8em;
    font-weight: 600;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .novidades {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding-top: 2em;
    margin-top: 6em;
  }

  .novidade-box {
    flex-direction: column;
    align-items: center; /* Alinha os itens centralmente na direção da coluna */
    padding: 2em;
  }

  .novidades h2 {
    color: #04338f;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .novidades {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding-top: 2em;
    margin-top: 6em;
  }

  .novidade-box {
    flex-wrap: wrap;
    padding: 1.5em;
    justify-content: space-around;
    align-items: center;
  }

  .novidades h2 {
    color: #04338f;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
}
