.novidades {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding-top: 4em;
  margin-top: 6em;
  text-align: center;
}

.novidade-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6em;
  background-color: #dcdcdc32; 
  border-radius: 20px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}

.text-novi{
  color: #022468;
  font-family: 'DM Sans', sans-serif;
  font-size: 2em;
  font-weight: 700;
}

@media (max-width: 962px) {
  .novidade-box {
    flex-wrap: wrap;
  }

  .novidade-box h2 {
    font-size: 1.8em;
    font-weight: 600;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .novidades {
    padding-top: 2em;
    margin-top: 6em;
  }

  .novidade-box {
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }

  .novidade-box h2 {
    font-size: 22px;
    font-weight: 700;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .novidades {
    padding-top: 2em;
    margin-top: 6em;
  }

  .novidade-box {
    flex-wrap: wrap;
    padding: 1.5em;
    justify-content: space-around;
    align-items: center;
  }

  .novidade-box h2 {
    font-size: 20px;
    font-weight: 700;
  }
}
